@mixin absolute($top: 0, $left: 0, $right: 0, $bottom: 0) {
  position: absolute;
  top: $top;
  left: $left;
  right: $right;
  bottom: $bottom;
}
@mixin flex($justify-content: center, $align-items: center) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
}

:root,
body {
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}
#root {
  @include absolute();
  background: #b0c4de;
}

.topleft {
  @include absolute(0, 0);
}

.center {
  max-width: 0;
  max-height: 0;
  @include absolute(50%, 50%);
}
